:root {
    --background: #00adb5;
    --formBackground: #fafafa;
    --btnBackground: #393e46;
    --secondaryColor: #aad8d3;
    --fontColor: #090E11;
    --formWidth: 22%;
    --border: 1px solid #000;
    --borderRadius: 4px;
    --dashboardPadding: 24px;
    /* 
        eeeeee
        aad8d3
    */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: var(--background);
    color: var(--fontColor);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--formWidth);
    border-radius: var(--borderRadius);
    padding: 24px;
    background: var(--formBackground);
    /* border: var(--border); */
}

.form h2 {
    align-self: flex-start;
}

.form .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px 0;
}

.field label {
    font-size: 13px;
}

.field .textInput {
    border: 2px solid #000;
    margin-top: 1px;
    padding: 4px 3px;
    outline: none;
    font-size: 14px;
    transition: 200ms ease all;
}

.form .btn {
    width: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: var(--borderRadius);
    padding: 8px;
    /* margin-top: 12px; */
    background: var(--btnBackground);
    font-weight: bold;
    font-size: 16px;
    color: #fafafa;
}

.logInForm .btn {
    margin-top: 12px;
}


/**** Dashboard ****/
.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    background: #eeeeee;
    width: 80%;
    height: 90vh;
    border-radius: var(--borderRadius);
}

.dashboard .dashboardHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--secondaryColor);
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    padding: var(--dashboardPadding);
}

.dashboardHeader .searchContainer {
    width: 50%;
    margin-left: 8px;
}

.dashboardHeader .searchForm {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.searchForm button {
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border: 1px solid #000;
    width: 30px;
}

.searchForm button i {
    font-size: 16px;
    padding: 5px;
}

.searchForm .searchBar {
    padding: 4px;
    width: 45%;
    outline: none;
    border-radius: 3px 0 0 3px;
    border: 1px solid #000;
}

.datosUsuario {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.datosUsuario h3 {
    font-size: 16px;
    margin-right: 10px;
}

.datosUsuario .imgUsuario {
    width: 40px;
    margin-right: calc(4px);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #fafafa,
                0 0 0 4px #000;
    cursor: pointer;
}

.dashboard .dashboardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--dashboardPadding);
    overflow: hidden;
}

.dashboardMain .listaEmpleados {
    background: #fafafa;
    width: 90%;
    height: 100%;
    padding: 16px;
    margin: 0 8px;
    border-radius: var(--borderRadius);
    overflow-y: scroll;
}

.listaEmpleados .tablaEmpleados {
    width: 100%;
}

.listaEmpleados th {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 2fr 4fr;
}

.listaEmpleados tr {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 2fr 4fr;
    padding: 4px 0;
    text-align: left;
    border-bottom: 1px solid #000;
}

.listaEmpleados tr th {
    text-align: left;
}

.listaEmpleados td {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 6px 0;
}

/* .listaEmpleados .userBtns {
    display: flex;
    justify-content: space-evenly;
} */

.userBtns button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #fafafa;
    outline: none;
    border: 1px solid #000;
    
}

.userBtns .editEmployee:hover {
    background: #eeeeee;
}

.userBtns .removeEmployee:hover {
    background: #ff1010;
    color: #fafafa;
}

.userBtns button i {
    font-size: 16px;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 10%;
    padding-left: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 32px;
    border: 1px solid #000;
    border-radius: var(--borderRadius);
    outline: none;
    height: 20%;
    width: 100%;
    cursor: pointer;
    background: #fafafa;
}

.btn:hover {
    background: #eeeeee;
}

.addEmployeeForm {
    position: absolute;
    top: 25%;
    left: 37.5%;
    visibility: hidden;
}

.editEmployeeForm {
    position: absolute;
    top: 20%;
    left: 37.5%;
    visibility: hidden;
}

.formButtons {
    display: grid;
    width: 100%;
    height: 30px;
    grid-template-columns: 1fr 7fr;
    gap: 8px;
    margin-top: 12px;
}

.cancelBtn {
    width: 100%;
    outline: none;
    cursor: pointer;
    border:none;
    border-radius: var(--borderRadius);
    background: #cc0000;
}

.cancelBtn:hover {
    background: #e70000;
}

.addUserBtn {
    width: 100%;
    margin-top: 0;
}

.editUserBtn, .addEmployeeBtn {
    height: 100%;
    margin-top: 0;
}

.formBtn:hover {
    background: #40454e;
}

.deleteEmployeeForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    visibility: hidden;
    left: 40%;
    min-height: 150px;
    width: 15%;
}

.deleteEmployeeForm h3 {
    width: 100%;
    text-align: left;
}

.deleteEmployeeForm .deleteBtns {
     display: grid;
     margin-top: 12px;
     gap: 8px;
     width: 100%;
     grid-template-columns: 1fr 3fr;
     
}
.deleteBtns button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 6px;
    border-radius: var(--borderRadius);
}

.deleteBtns .cancelDelete {
    background: #cc0000;
}

.deleteBtns .cancelDelete:hover {
    background: #e70000;
}

.deleteBtns .acceptDelete {
    background: var(--btnBackground);
}

.deleteBtns .acceptDelete:hover {
    background: #40454e;
}

.deleteBtns .cancelDelete i {
    color: #fafafa;
}

.deleteBtns .acceptDelete i {
    color: #fafafa;
    font-size: 22px;
}

/*** Scrollbar ***/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: var(--secondaryColor);
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

::-webkit-scrollbar-thumb {
    background: #999;
    /* margin: 1px; */
    width: 10px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/**** Íconos ****/
.btnIcon {
    font-size: 20px;
}

.cancelIcon {
    color: #fafafa;
}

/**** Otros estilos ****/
.sombra {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15),
                15px 15px 40px rgba(0, 0, 0, 0.05);
}