:root {
    --background: #00adb5;
    --formBackground: #fafafa;
    --btnBackground: #393e46;
    --secondaryColor: #aad8d3;
    --fontColor: #090E11;
    --formWidth: 25%;
    --border: 1px solid #000;
    --borderRadius: 4px;
    --dashboardPadding: 24px;
    /* 
        eeeeee
        aad8d3
    */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: var(--background);
    color: var(--fontColor);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--formWidth);
    border-radius: var(--borderRadius);
    padding: 24px;
    background: var(--formBackground);
    /* border: var(--border); */
}

.form h2 {
    align-self: flex-start;
}

.form .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px 0;
}

.field label {
    font-size: 13px;
}

.field .textInput {
    margin-top: 1px;
    padding: 4px 3px;
    outline: none;
    font-size: 14px;
}

.form .btn {
    width: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: var(--borderRadius);
    padding: 8px;
    /* margin-top: 12px; */
    background: var(--btnBackground);
    font-weight: bold;
    font-size: 16px;
    color: #fafafa;
}

.logInForm .btn {
    margin-top: 12px;
}


/**** Dashboard ****/
.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    background: #eeeeee;
    width: 80%;
    height: 90vh;
    border-radius: var(--borderRadius);
}

.dashboard .dashboardHeader {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background: var(--secondaryColor);
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    padding: var(--dashboardPadding);
}

.datosUsuario {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.datosUsuario h3 {
    font-size: 16px;
    margin-right: 10px;
}

.datosUsuario .imgUsuario {
    width: 40px;
    margin-right: calc(4px);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #fafafa,
                0 0 0 4px #000;
}

.dashboard .dashboardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--dashboardPadding);
}

.dashboardMain .listaEmpleados {
    background: #fafafa;
    width: 90%;
    height: 100%;
    padding: 16px;
    margin: 0 8px;
    border-radius: var(--borderRadius);
}

.buttons {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 10%;
    padding-left: 8px;
}

.btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border: 1px solid #000;
    border-radius: var(--borderRadius);
    outline: none;
    height: 20%;
    width: 100%;
    cursor: pointer;
    background: #fafafa;
}

.btnAdd:hover {
    background: #eeeeee;
}

.addUserForm {
    position: absolute;
    top: 25%;
    left: 37.5%;
    visibility: hidden;
    transition: 300ms ease all;
}

.formButtons {
    display: grid;
    width: 100%;
    height: 30px;
    grid-template-columns: 1fr 7fr;
    gap: 8px;
    margin-top: 12px;
}

.cancelBtn {
    width: 100%;
    outline: none;
    cursor: pointer;
    border:none;
    border-radius: var(--borderRadius);
    background: #cc0000;
}
.cancelBtn:hover {
    background: #e70000;
}

.addUserBtn {
    width: 100%;
    margin-top: 0;
}

.formBtn:hover {
    background: #40454e;
}


/**** Íconos ****/
.btnIcon {
    font-size: 24px;
}

.cancelIcon {
    color: #fafafa;
}

/**** Otros estilos ****/
.sombra {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15),
                15px 15px 40px rgba(0, 0, 0, 0.05);
}